<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quan_Ly_Ban_Hang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Quan_Ly_Ban_Hang.Properties.Settings.Ban_HangConnectionString"
            connectionString="Data Source=DK0626-PC\SQLEXPRESS;Initial Catalog=&quot;Ban Hang&quot;;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Quan_Ly_Ban_Hang.Properties.Settings.BanHangConnectionString"
            connectionString="Data Source=DK0626-PC\SQLEXPRESS;Initial Catalog=BanHang;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <Quan_Ly_Ban_Hang.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
        </Quan_Ly_Ban_Hang.Properties.Settings>
    </applicationSettings>
</configuration>